<h2>Strona główna</h2>
<div class="container">
    

    
  </div>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <button type="button" class="btn btn-primary">Onas</button>
        <div class="container-fluid"><router-outlet></router-outlet>
            Firma ZAPP-MED LTD. Oddział w Polsce z siedzibą w Łodzi, specjalizująca się w sprzedaży internetowej produktów przeznaczonych do higieny jamy ustnej.
    
    Zachęcamy do kontaktu mailowego. Prosimy o podanie nr zamówienia. Łatwo możemy zidentyfikować klienta oraz sprawdzić co się dzieje z przesyłką i sprawnie rozwiązać problem.
    
    Współpracujemy z takimi firmami jak: Oral-B, Philips, Braun, Ziaja, Apis, Dabur.
    
    Więcej o naszej firmie możesz się dowiedzieć na stronie o nas.
          </div>
      </div>
      
      <div class="col">
        <button type="button" class="btn btn-primary">Kontakt</button>
        
        <img src="todo-training\src\assets\Images\indeks.jpg" class="img-fluid">

      </div>

     
      


      <div class="container">
        <div class="row">
          <div class="col">
            <a class="nav-link active" aria-current="page" href="#">Onas</a>
          </div>
          <div class="col">
            <a class="nav-link" href="#">Głowna</a>
          </div>
         
      <router-outlet></router-outlet>