<div class="p-3 mb-2 bg-danger text-white">PIESNI LODU I OGNIA</div>
<div class="container">
    



    
  </div>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        
        
        
        <div class="container-fluid"><router-outlet></router-outlet>
          Pieśń lodu i ognia (ang. A Song of Ice and Fire) – seria powieści fantasy autorstwa amerykańskiego pisarza George’a R.R. Martina, zaplanowana na siedem tomów, z których jak na razie wydanych zostało pięć: Gra o tron, Starcie królów, Nawałnica mieczy, Uczta dla wron oraz Taniec ze smokami. Trwają prace nad kolejnymi tomami sagi: The Winds of Winter i A Dream of Spring.

          Martin zaczął pisać pierwszy tom w 1991 roku, książka wydana została w 1996. Rok później otrzymała nagrodę Locusa w kategorii najlepsza powieść fantasy. Martin został jeszcze trzykrotnie laureatem tej nagrody: w 1999 roku za Starcie królów, w 2001 za Nawałnicę mieczy oraz za Taniec ze smokami w 2012[1]. Pierwsze pięć tomów rozeszło się w nakładzie ponad 24 milionów egzemplarzy i zostało przetłumaczonych na ponad 20 języków[2] (stan z 2013).
          </div>
      </div>
      
      <div class="col">
        
        
        <img src="assets/Images/smok.jpg" class="img-fluid">
     
     
      <router-outlet></router-outlet>
      </div>
      <div class="p-1 mb-2 bg-danger"></div> <lib-tomy></lib-tomy>


      